<nav class="navbar navbar-expand-lg bg-white shadow-sm py-3 sticky-top">
  <div class="container-fluid px-4">

    <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
      <%= image_tag "perso_codemate.svg", height: 50, class: "me-2", alt: "Logo" %>
      <%= image_tag "codemate.svg", height: 34, class: "me-2", alt: "Codemate" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarPremium">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarPremium">

      <% if user_signed_in? %>
        <ul class="navbar-nav mx-auto gap-3">

          <li class="nav-item">
            <%= link_to "Explore projects", projects_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "My projects", my_projects_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Create project",
                new_project_path,
                class: "btn btn-dark rounded-pill px-4" %>
          </li>

        </ul>
      <% else %>
        <ul class="navbar-nav mx-auto"></ul>
      <% end %>

      <div class="d-flex align-items-center gap-3">

        <% if user_signed_in? %>

          <details class="user-dropdown">
            <summary class="btn btn-outline-dark rounded-pill px-4">
              <%= current_user.display_name.presence || "Account" %>
            </summary>

            <div class="user-dropdown-menu">

              <%= link_to "Profile",
                  user_path(current_user),
                  class: "dropdown-item" %>

              <%= link_to "My projects",
                  my_projects_path,
                  class: "dropdown-item" %>

              <%= link_to "Favorites",
                  my_favorites_path,
                  class: "dropdown-item" %>

              <%= link_to "Account settings",
                  edit_user_registration_path,
                  class: "dropdown-item" %>

              <hr>

              <%= button_to "Logout",
                  destroy_user_session_path,
                  method: :delete,
                  class: "dropdown-item logout-button" %>

            </div>
          </details>

        <% else %>

          <%= link_to "Sign up",
              new_user_registration_path,
              class: "btn btn-outline-dark rounded-pill px-4" %>

          <%= link_to "Log in",
              new_user_session_path,
              class: "btn btn-dark rounded-pill px-4" %>

        <% end %>

      </div>

    </div>
  </div>
</nav>
